<template>
  <div id="app">

    <div class="signature">
      <img class="logo" src="@/assets/logo.png" alt="">
    </div>

    <router-view/>
  </div>
</template>

<script>
import 'vue-material-design-icons/styles.css'
export default {
  name: 'App',
  sockets: {
    connect() {
      this.$store.commit('set_ws_connected', true)
    },
    disconnect() {
      this.$store.commit('set_ws_connected', false)
    },
    status(device) {


      if(device.state === 'connected'){
        this.$store.commit('add_device', device)
      }

      if(device.state === 'disconnected'){
        this.$store.commit('delete_device', device)

      }
    },
  },
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.signature {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  font-size: 10vmin;
}
.signature img {
  width: 1em;
  height: 1em;
  animation-name: rotation;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
</style>
